body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff; 
    text-align: center; 
    padding: 20px 20px;

    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0; 
    font-size: 36px; 
}

button {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-header {
    background-color: rgb(188, 229, 248);
}

.columns {
    display: flex;
    flex: 1; 
}

.column {
    padding: 20px;
    box-sizing: border-box; 
}

.left-column {
    background-color: #e0e0e0;
    flex: 1;

    display: flex;
    flex-direction: column; 
    gap: 20px;
}

button {
    padding: 10px;
    /* background-color: #b1abab; */
}

.template {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-column {
    background-color: #f4f4f4;
    flex: 3;
    margin: 0 auto;
}

.right-column {
    background-color: #e0e0e0; 
    flex: 1;
    
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.project {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-projects-section {
    background-color: #e0e0e0; 
    flex: 1;
    
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.education {
    margin-top: 20px;
}

.button_education {
    margin-top: 5px;
}

button:hover {
    background-color: #b1abab;
}


/* Template One */
#template_one_place {
    display: none;
}
.template_one_selected {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Template Two */
#template_two_place {
    display: none;
}
.template_two_selected {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Template Three */
#template_three_place {
    display: none;
}
.template_three_selected {
    font-family: 'Times New Roman', Times, serif;
    /* text-align: center; */
}

@media print {
    body * {
        visibility: hidden;
    }
    .template-selected, .template-selected * {
        visibility: visible;
    }
    .template-selected {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: auto !important;
    }
}

.template-selected {
    background-color: white;
    width: 210mm; /* A4 width */
    min-height: 297mm; /* A4 height */
    margin: 0 auto;
    box-sizing: border-box;
}

#custom_template {
    padding: 30px;    
}